/* src/global.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

/* apply globally */
html,
body {
  @apply font-sans;
  scroll-behavior: smooth !important;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: oklch(27.8% 0.033 256.848);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: oklch(55.1% 0.027 264.364);
    border-radius: 100vh;
    border: 1px solid oklch(27.8% 0.033 256.848);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(44.6% 0.043 257.281);
  }
}
